{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<!-- ======= Body ======= -->
<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
      {{ page.header }}
      
      <!-- ======= Navbar Section ======= -->
      <nav id="navbar" class="navbar order-last order-lg-0 ms-auto">
        <ul>
          {{ page.primary_menu }}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  {% if banner_display %}
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>{{ heading }}</h1>
          <h2>{{ description }}</h2>
          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">{{ primary_button }}</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">{{ second_button }}</a>
          </div>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
          <a href="{{ youtube_url }}" class="glightbox play-btn"></a>
        </div>
      </div>
    </div>
  </section>
  {% endif %}<!-- End Hero -->

  <!-- ======= Main content Section ======= -->
  <main role="main" class="main {{bannershow}}">
    <a id="main-content" tabindex="-1"></a>
    <div class="layout-content container">
      {{ page.content }}
    </div>
    {% if page.sidebar_first %}
      <aside class="layout-sidebar-first" role="complementary">
        {{ page.sidebar_first }}
      </aside>
    {% endif %}
    {% if page.sidebar_second %}
    <aside class="layout-sidebar-second" role="complementary">
      {{ page.sidebar_second }}
    </aside>
   {% endif %}
  </main><!-- End Hero -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              {{ page.footer_first}} 
              {% if show_contact_details %}  
                {% if footer_logo %} 
                  <img class="footer_logo" src= "{{ footer_logo }}" /> 
                {% endif %}
                <p>
                  {% if location %}
                    {{ location }}
                  {% endif %}
                  <br>
                  {% if contact %}
                  <strong>Phone:</strong>{{ contact }}<br>
                  {% endif %}
                  {% if emails %}
                  <strong>Email:</strong>{{ emails }}<br>
                  {% endif %}
                </p>
              {% endif %}

              {% if show_social_icon %}
                <div class="social-links mt-3">
                  {% if twitter_url %}
                  <a href="{{ twitter_url }}" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  {% endif %}
                  {% if facebook_url %}
                  <a href="{{ facebook_url }}" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  {% endif %}
                  {% if instagram_url %}
                  <a href="{{ instagram_url }}" class="instagram"><i class="fa fa-instagram"></i></i></a>
                  {% endif %}
                  {% if skype %}
                  <a href="{{ skype }}" class="skype"><i class="fa fa-skype"></i></a>
                  {% endif %}
                  {% if linkedin_url %}
                  <a href="{{ linkedin_url }}" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  {% endif %}
                </div>
              {% endif %}  
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            {{ page.footer_second }}
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
             {{ page.footer_third }}
          </div>
          
          <div class="col-lg-4 col-md-6 footer-newsletter">
            {% if show_newsletter_details %}
              {% if footer_news_head %}
                <h4>{{ footer_news_head }}</h4>
              {% endif %}
              {% if footer_news_desc %}
                <p>{{ footer_news_desc }}</p>
              {% endif %}
              {{ page.footer_fourth }}
            {% endif %}
          </div>

        </div>
      </div>
    </div>

    {% if show_copyright %}
      <div class="container">
        <div class="copyright">
          {{ copyright_text }}
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          Designed by <a href="https://www.drupal.org/u/arti_parmar">{{ copyright_deve_text }}</a>
        </div>
      </div>
    {% endif %}
  </footer><!-- End Footer -->

  <!-- ======= Scroller Section ======= -->
  <div id="preloader"></div>
    {% if show_scroller %}
      <a href="#" class="back-to-top scroll-icon-{{ arrow_up }} d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    {% endif %}<!-- End Scroller -->
</body><!-- End Body -->
